.metrics {
    width: 200px;
    height: 12em;
    border: solid #283739;
    border-radius: 10px;
}
.metrics-data{
    font-size: 1.3rem;
    background-color: #a2c11c;
    padding: 5px;
    color:#e0e0e0;
    margin: 10px 10px;
}
.metrics-label{
    margin-top: 10px;
    font-size: 1.2rem;
}
@media (max-width:850px) {

    .metrics {
        width: 100%;
    }
}